<!DOCTYPE html>

<html>
  <head>
    <title>molalign G</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="static/assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-loading">
    <div id="wrapper">
      <section id="main">
        <header>
          <span class="avatar"
            ><img
              src="https://avatars.githubusercontent.com/u/144490150?v=4"
              alt=""
          /></span>
          <h1>Molalign Getahun</h1>
          <p>Senior BlockChain Engineer</p>
        </header>

        <footer>
          <ul class="icons">
            <li>
              <a href="https://x.com/molalign_52091" class="fa-twitter"
                >Twitter</a
              >
            </li>
            <li>
              <a
                href="https://www.instagram.com/molalign.g"
                class="fa-instagram"
                >Instagram</a
              >
            </li>
            <li><a href="#" class="fa-facebook">Facebook</a></li>
          </ul>
        </footer>
      </section>

      <footer id="footer">
        <ul class="copyright">
          <li>&copy; molalign G</li>
        </ul>
      </footer>
    </div>

    <script>
      if ("addEventListener" in window) {
        window.addEventListener("load", function () {
          document.body.className = document.body.className.replace(
            /\bis-loading\b/,
            ""
          );
        });
        document.body.className += navigator.userAgent.match(/(MSIE|rv:11\.0)/)
          ? " is-ie"
          : "";
      }
    </script>
  </body>
</html>
